Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
import pandas as pd
ds=pd.read_csv('ratings.csv', 'r', delimiter=',')
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
import pandas as pd

In [15]:
summ=0
ds=pd.read_csv('power.csv', 'r', delimiter=',')
ds2=ds[(ds['year']>=2005)&(ds['year']<=2010)&(ds['quantity']>0)]
ds3=ds2[ds2.category.isin([4,12,21])]
summ=ds3[ds3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summ))

суммарное потребление: 240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [12]:
import pandas as pd

In [13]:
data=pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,74.57,0.90,1.22,NaN
1,Нефть WTI Цены на нефть WTI,73.20,1.32,1.84,NaN
2,Природный газ Цена на природный газ,3.18,-0.02,-0.66,NaN
3,Кофе,153.15,3.35,2.24,NaN
4,Кукуруза,661.40,3.80,0.58,NaN