# Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
Total = ratings.merge(movies, on=["movieId"], how='inner')
pvt = Total.pivot_table(index=['title','movieId'], values = 'rating', aggfunc='mean')
pvt.head()

                                                   rating
title                                   movieId
"Great Performances" Cats (1998)        51372    1.750000
$9.99 (2008)                            74486    3.833333
'Hellboy': The Seeds of Creation (2004) 97757    2.000000
'Neath the Arizona Skies (1934)         70121    0.500000
'Round Midnight (1986)                  26564    2.250000

In [7]:
pvt=pvt.reset_index()

In [8]:
def classification(i):
    if i  <= 2:
        return 'низкий рейтинг'
    elif i  <= 4 and i >2:
        return 'средний рейтинг'
    elif i  >4.5:
        return 'высокий рейтинг'

In [9]:
pvt['class'] = pvt['rating'].apply(classification)
pvt.head()

,index,title,movieId,rating,class
0,0,"""Great Performances"" Cats (1998)",51372,1.750000,низкий рейтинг
1,1,$9.99 (2008),74486,3.833333,средний рейтинг
2,2,'Hellboy': The Seeds of Creation (2004),97757,2.000000,низкий рейтинг
3,3,'Neath the Arizona Skies (1934),70121,0.500000,низкий рейтинг
4,4,'Round Midnight (1986),26564,2.250000,средний рейтинг

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [10]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [11]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [13]:
d = {}

for region in geo_data:
    
    spisok_gorodov = geo_data[region]
    
    d.update({key:value for key,value in zip(spisok_gorodov,
                                [region for i in spisok_gorodov])})

In [14]:
keywords['region'] = keywords['keyword'].map(d)

In [15]:
keywords['region'] = keywords['region'].fillna('undefined')
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined